@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    width: 180px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border: none;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);

}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;

}





/* header styles */


/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: 3rem;
}

.nav-items {
    list-style: none;
    margin-right: 30px;


}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}


.img-style {
    max-width: 1440px;
    max-height: 700px;
    width: 100%;
}

/* banner related style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    color: #727272;
}

.team-img-container>img {
    max-height: 220px;
    max-width: 320px;
    /* width: 100%; */
}

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {

    margin-left: 130px;
    /* max-width: 530px; */
}


#quick-list {
    font-weight: 500;
}

#features {
    color: rgb(255, 144, 14);
}

/* features section related styles */
#design {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card>.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;


}

.features {
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.features-list {
    display: flex;
    gap: 20px;
}

.feature-card>.text-light-gray {
    margin-top: 0px;
    margin-bottom: 0px;
}

#btn-secondary {
    background-color: #FF900E;
    color: white;
    padding: 42px;
    /* font-size:2rem;
    font-weight: 500; */
    border-radius: 8px;
    margin-left: -100px;
    margin-top: -100px;
    border: none;
    text-align: center;

}

#btn-secondary>#experience-year {
    font-size: 1.5rem;
    font-weight: 500;
}


/* fact related styles */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.text-description {
    max-width: 540px;
}

/* sponsors-related-styles */
.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.lady-logo img {
    /* width: 100%; */
}

/* footer related style */
.footer {
    background-color: #FFF4E7;
    margin-top: 130px;
    /* margin-left: 240px;
    margin-right: 240px; */
    text-align: center;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #424242;
    

}

.footer-text {
    font-size: 1.3rem;
    font-weight: 400;
}

/* responsive media-query */
@media screen and (max-width: 576px) {
    .navbar{
        display: flex;
    }
    .nav-items{
        list-style-type: disc;
    }
    .navbar-links,
    .features-list,
    .teams{
        flex-direction: column;
    }

    .team-img-container,
    .fact-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-container {
        justify-items: center;
    }

    .features {
        margin-left: 20px;
    }

    .fact-container {
        gap: 24px;
        justify-items: center;
    }

    .sponsor-companies {
        gap: 50px;
        justify-items: center;
    }

    .lady-logo img {
        width: 100%;
    }

    #btn-secondary {
        margin-left: 100px;
        /* margin-top: 100px; */
    }

   
}